* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: black;
}

.proj-cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    border: 2px solid red;
}

.porj-title {
    display: block;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-transform:uppercase;
    font-size: 5vw;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 35vh;
    border: 2px solid white;
    border-radius: 2vw;
}

.clockshape{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 25vh;
    border: 2px solid rgb(0, 119, 255);
    border-radius: 2vw;
}

#time{
    color: white;
    font-size: 6vw;
    font-weight:bolder;
    font-style:normal;
}